
## IPv4 connections
host    all             all             {{ net_mask_ipaddr_net }}        {{ pg_hba_method }}

## Replication connections
host    replication     all             {{ net_mask_ipaddr_net }}        {{ pg_hba_method }}
